<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114329485682-k94rmq6qijv4lr4u1jq28e1q2hlfpec3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114329485682-k94rmq6qijv4lr4u1jq28e1q2hlfpec3</string>
	<key>API_KEY</key>
	<string>AIzaSyCriBYGfhQ3m9v3ib6RnX-ehBmPQtkgNGs</string>
	<key>GCM_SENDER_ID</key>
	<string>114329485682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biconome.Innovation</string>
	<key>PROJECT_ID</key>
	<string>biconomy-ee6cb</string>
	<key>STORAGE_BUCKET</key>
	<string>biconomy-ee6cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114329485682:ios:308a6ba6d324797de55deb</string>
	<key>DATABASE_URL</key>
	<string>https://biconomy-ee6cb.firebaseio.com</string>
</dict>
</plist>